<h3> Books List </h3>
<div class="row" #booksList>
  <div class="col-md-8 col-md-offset-2">
    <button class="btn btn-primary pull-right" [routerLink]="['add']">Add Book</button>
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="booksList.searchString">
  </div>
  <div class="col-md-8 col-md-offset-2">
    <table class="table" style="margin-top:20px;">
      <thead>
        <th>Books Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Author</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let book of books | bookFilter:booksList.searchString">
          <td>{{book.name}}</td>
          <td>{{book.category}}</td>
          <td>{{book.description}}</td>
          <td>{{book.price}}</td>
          <td>{{book.author}}</td>
          <td>
            <a [routerLink]="['edit/'+book.id]"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            <a (click)="deleteBook(book.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
